/* center the title */
h1 {
  text-align: center;
}
/* center the box with the color sliders */
.sliderContainer{
  display: block;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  /* border: 1px solid black; */ 

}
.sliders {
  display: flex;
  /* border: 1px solid black;*/
  align-items: center;
}
.colorTitle{
  display:block;
  margin-bottom: 30px;
  text-align: center;
  font-size: xx-large;
}

.ledColor{
  display: block;
  width: fit-content;
  margin: auto;
  /* border: 1px solid black;*/
}
.ledCanvas {
  margin: auto;
  outline: black 1px solid;
  margin-right: 20px;
}
.submitBtn {
  font-size: x-large;
}
.ledColor{
  margin: auto;
  width: fit-content;
  margin-bottom: 20px;
}
.ledColorLabel{
  font-size: x-large;
  margin-right: 20px;
}

.switchContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: fit-content;
  margin:auto;
}
.switchLabel {
  font-size: x-large;
  margin-right: 30px;
}

/* Hide the checkbox */
#switchToggle {
  display: none;
}

/* Style the label as a toggle switch */
.toggleLabel {
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

/* Create the inner circle of the switch */
label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Change background color when checked */
#switchToggle:checked + label {
  background-color: #2196F3;
}

/* Move the inner circle when checked */
#switchToggle:checked + label::before {
  transform: translateX(25px);
}
.messages {
  margin-top: 50px;
}